.overviewContainer {
  flex: auto;
  padding-bottom: 1.5rem;
  min-width: 200px;
}

.dates {
  margin: 2px 0;
}

.eventCard {
  margin: 0.5rem 1rem 0 0;
  perspective: none;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  outline: none;
  overflow: hidden;
}

.eventHeader {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  outline: none;
}

.eventCardArrow {
  margin: 0 1rem;
  color: #5f6368;
  display: inline-block;
}

.eventCardSummary {
  align-items: center;
  display: flex;
  padding: 0.75rem 0;
}

.logo {
  align-items: center;
  display: flex;
  flex: none;
  height: 40px;
  justify-content: center;
  padding: 0 0.5rem;
  width: 40px;
}

.eventDetails {
  max-height: 0px;
  transition: max-height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.eventDetails.visible {
  max-height: 388px;
  overflow: visible;
}

.eventTitleContainer {
  flex: auto;
}

.eventTitleMain {
  color: #3c4043;
  max-height: 40px;
  overflow: hidden;
  transition: max-height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  font: 500 14px/20px "Google Sans", Roboto, Arial, sans-serif;
  line-height: 14px;
}

.eventTitleMain.isOpen {
  max-height: 80px;
}

.eventTitleDetails {
  font: 400 0.75rem/1rem Roboto, Arial, sans-serif;
  letter-spacing: 0.3px;
  color: #5f6368;
  line-height: 0.75rem;
}

.iframeContainer {
  background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="350px" viewBox="0 0 100% 100%"><text fill="%44444400" x="50%" y="50%" font-family="\'Google Sans\', sans-serif" font-size="24" text-anchor="middle">LOADING</text></svg>')
    0px 0px no-repeat;
}

.iframeContainer iframe {
  border: none;
  width: 100%;
  height: 480px;
}

.detailsContainer {
  margin: 0 1rem;
}

.detailsRow {
  padding: 0.5rem 0;
  display: flex;
  max-width: 400px;
}

.detail {
  margin: 0 0.1rem;
  flex: auto;
}

.detailTitle {
  font: 400 12px/16px Roboto, Arial, sans-serif;
  letter-spacing: 0.3px;
  color: #5f6368;
}

.detailDetail {
  font: 400 14px/20px Roboto, Arial, sans-serif;
  letter-spacing: 0.2px;
  color: #5f6368;
}

.flightSegment {
  align-items: center;
  display: flex;
  max-width: 180px;
  padding: 0.5rem 0 0;
}

.airportCode {
  font: 500 16px/24px "Google Sans", Roboto, Arial, sans-serif;
  letter-spacing: 0.1px;
  color: #3c4043;
}

.link {
  text-decoration: none;
  color: #2962ff;
  cursor: pointer;
  font: 400 14px/20px Roboto, Arial, sans-serif;
  letter-spacing: 0.2px;
}

.wideDetailsRow {
  padding: 0.5rem 0;
  display: flex;
}
