.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 15rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: multiply;
}

.main {
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 2rem;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.dates {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrolledTitleContainer {
  height: 50px;
  position: absolute;
  width: calc(100% - 4rem);
  bottom: 0;
  transition: 0.5s;
  color: white;
  padding-left: 4rem;
}

.scrolledTitleContainer .date {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.scrolledTitleContainer .title {
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.shadow {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.mobileHeaderContainer {
  width: 100%;
}

.mobileTitleContainer {
  max-width: calc(100% - 4.5rem);
  display: inline-block;
}

.mobileWeatherButton {
  float: right;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobileWeatherButton:hover {
  color: #d1d1d1;
}

.detailsButton {
  background: #fff;
  border-radius: 1.5rem;
  font-size: 0.75rem;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  letter-spacing: 0.25px;
  color: #3c4043;
  border: 1px solid white;
  transition: 0.2s;
  cursor: pointer;
}

.detailsButton:hover {
  background-color: transparent;
  color: white;
}
